.banner {
  width: 100%;
  padding-top: 20%;
  background-image: url(/Images/deer-in-the-woods.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: #8d7b54 8px groove;
  margin-bottom: 10px;
}
.spotlight-card {
  max-width: 400px;
  background-color: antiquewhite;
  border-radius: 10px;
  border: 8px groove #8d7b54;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
.spotlight-card .img-wrapper {
  width: 300px;
  height: 225px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spotlight-card .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-style: outset;
  border-width: 8px;
  border-color: #8d7b54;
}