#search-button, #show-all-button {
  background-color: #4b5817;
  padding: 10px 30px;
  font-size: 1rem;
  margin: 0 15px;
  text-wrap: nowrap;
}
.search-bar {
  position: relative;
  display: flex;
  min-width: 100px;
  align-content: center;
  justify-content: center;
} 
.search-icon {
padding: 3px;
border-radius: 60px;
margin-right: 5px;
margin-left: 5px;
}
#bird-search {
border: 4px solid #3e4913;
border-radius: 5px;
height: 80px;
width: 95%;
background-color: whitesmoke;
font-size: xx-large;
text-align: center;
}
