body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
    to bottom right,
    #979951 0%,
    #83944c 25%,
    #638740 50%,
    #4c7840 75%,
    #4b5817 100%
  );
  font-family: "Nunito", "Segoe UI", Arial, sans-serif;
}
.bird-card img {
  margin-top: 10px;
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
}
.bird-card,
.spotlight-card {
  background-color: whitesmoke;
  border-radius: 12px;
  max-width: fit-content;
  text-align: center;
  padding: 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.bird-card label {
  display: block;
  margin: 8px 0;
}
button {
  background-color: #979951;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 0.3px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: #74763f;
}
#bird-container,
#seen-bird-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin: 10px;
  padding: 10px;
}
#comment-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #979951;
  color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 9999;
  text-align: center;
  border: #9b865c;
  border-width: 6px;
  border-style: groove;
  width: 300px;
}
#comment-popup textarea {
  width: 100%;
  height: 90px;
  border-radius: 6px;
  padding: 8px;
  margin-top: 10px;
  font-size: 14px;
}

.img-wrapper {
  width: 200px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bird-name {
  font-weight: bold;
  font-size: 1em;
  margin: 10px 0 5px 0;
}
.intro-text,
.log-text-content, #journal-intro {
  padding: 20px;
  font-size: 1em;
  text-align: center;
  background-color: #83944c;
  border-radius: 10px;
  margin: 20px auto;
  border: #6f7d41 8px groove;
}
.intro-text h2 {
  background-color: #6f7d41;
  border-radius: 10px;
}
header h1 {
  color: whitesmoke;
  margin: 0;
  padding: 10px;
  background-color: #6f7d41;
  border-bottom: #4b5817 8px groove;
  text-align: center;
  margin-bottom: 10px;
}
footer {
  background-color: #6f7d41;
  margin-top: 20px;
}
footer {
  text-align: center;
}
nav {
  display: flex;
  flex-direction: row;
  gap: 3em;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
nav button {
  padding: 20px 40px;
  font-size: 1.7rem;
}
