/* color pallet: 
darkest green base : #4b5817
lighter green: ##4c7840
lighter: #638740
lighter : #83944c
lightest:#979951  */ 

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
    to bottom right,
    #979951 0%,
    #83944c 25%,
    #638740 50%,
    #4c7840 75%,
    #4b5817 100%
  );
  font-family: "Nunito", "Segoe UI", Arial, sans-serif;
}
.banner {
  width: 100%;
  padding-top: 40%;
  background-image: url(/Images/deer-in-the-woods.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: #8d7b54 8px groove;
}
.bird-card img {
  margin-top: 20px;
  width: 200px; 
  height: 150px;
  object-fit: contain;
}
.bird-card, .spotlight-card {
  background-color:#c8b078;
  border: #8d7b54  8px groove;
  border-radius: 10px;
  max-width: fit-content;
  text-align: center;
}
#bird-container, #seen-bird-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin: 10px;
  padding: 10px;
}
.img-wrapper {
  width: 200px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spotlight-card {
 background-color: antiquewhite;
}