/* color pallet: 
darkest green base : #4b5817
lighter green: ##4c7840
lighter: #638740
lighter : #83944c
lightest:#979951  */ 

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
    to bottom right,
    #979951 0%,
    #83944c 25%,
    #638740 50%,
    #4c7840 75%,
    #4b5817 100%
  );
  font-family: sans-serif;
}
.banner {
  width: 100%;
  padding-top: 40%;
  background-image: url(/Images/deer-in-the-woods.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.bird-card img {
  margin-top: 20px;
  width: 200px; 
  height: 150px;
  object-fit: contain;
}